In [33]:
# Import auth client library

from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [34]:
! pip install osmnx

Requirement already satisfied: osmnx in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.6/dist-packages (from osmnx) (2.5)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.1.5)
Requirement already satisfied: requests>=2.25 in /usr/local/lib/python3.6/dist-packages (from osmnx) (2.25.1)
Requirement already satisfied: geopandas>=0.8 in /usr/local/lib/python3.6/dist-packages (from osmnx) (0.8.2)
Requirement already satisfied: matplotlib>=3.3 in /usr/local/lib/python3.6/dist-packages (from osmnx) (3.3.4)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.19.5)
Requirement already satisfied: pyproj>=2.6 in /usr/local/lib/python3.6/dist-packages (from osmnx) (3.0.0.post1)
Requirement already satisfied: Rtree>=0.9 in /usr/local/lib/python3.6/dist-packages (from osmnx) (0.9.7)
Requirement already satisfied: descartes>=1.1 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.1.0)
Requirement already satisfied: Shapely>=1.7 in /usr/local/lib/python3.6/dist-packages (from osmnx) (1.7.1)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.5->osmnx) (4.4.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.1->osmnx) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.1->osmnx) (2018.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.25->osmnx) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.25->osmnx) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.25->osmnx) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.25->osmnx) (3.0.4)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas>=0.8->osmnx) (1.8.18)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (7.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1->osmnx) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (1.1.1)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (7.1.2)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (0.7.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx) (20.3.0)

In [35]:
# Libraries

import pandas as pd
import scipy.spatial
import numpy as np
from google.cloud import bigquery
from geopy.distance import vincenty

import networkx as nx
import osmnx as ox

# Create client instance

client = bigquery.Client(project='uip-production')

In [36]:
# Data import via SQL query

sql = """SELECT
  distinct(dock_group_title),
  dock_group_coords.latitude,
  dock_group_coords.longitude
  
FROM
  `uip-production.bikesharing_GB_edinburghcitybikes.dockgroup_snapshots`"""

In [37]:
# DataFrame 

df = client.query(sql).to_dataframe()

In [38]:
df.dock_group_title.nunique()

166

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   dock_group_title  230 non-null    object
 1   latitude          230 non-null    float64
 2   longitude         230 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.5+ KB

In [40]:
# Clean up

df.drop_duplicates(subset='dock_group_title', inplace=True)

In [41]:
# Calculate distance with scipy.spatial
# Output numpy array


mat = scipy.spatial.distance.cdist(df[['latitude','longitude']], 
                              df[['latitude','longitude']], metric='euclidean')

In [42]:
mat

array([[0.        , 0.07135352, 0.02763719, ..., 0.20500329, 0.01867135,
        0.03941729],
       [0.07135352, 0.        , 0.09665723, ..., 0.13520267, 0.0751363 ,
        0.09874763],
       [0.02763719, 0.09665723, 0.        , ..., 0.22754355, 0.02369578,
        0.02013433],
       ...,
       [0.20500329, 0.13520267, 0.22754355, ..., 0.        , 0.20413757,
        0.22384894],
       [0.01867135, 0.0751363 , 0.02369578, ..., 0.20413757, 0.        ,
        0.0248214 ],
       [0.03941729, 0.09874763, 0.02013433, ..., 0.22384894, 0.0248214 ,
        0.        ]])

In [43]:
# Create DataFrame with array

new_df = pd.DataFrame(mat, index=df['dock_group_title'], columns=df['dock_group_title'])

In [44]:
new_df

dock_group_title    Colinton Road  ...  Macdonald Road
dock_group_title                   ...
Colinton Road            0.000000  ...        0.039417
St. John's Road 1        0.071354  ...        0.098748
West Crosscauseway       0.027637  ...        0.020134
George Square            0.024244  ...        0.021143
Simon Square             0.030146  ...        0.019292
...                           ...  ...             ...
Waverley Station         0.029799  ...        0.011592
Surgeons Hall            0.028293  ...        0.017355
Port Edgar Marina        0.205003  ...        0.223849
Charlotte Square         0.018671  ...        0.024821
Macdonald Road           0.039417  ...        0.000000

[166 rows x 166 columns]

In [45]:
# create array with minimum distance between points

closest = np.where(new_df.eq(new_df[new_df != 0].min(),0),new_df.columns,False)

# Remove false from the array and get the column names as list . 
df['close'] = [i[i.astype(bool)].tolist() for i in closest]

In [46]:
# Export draft

df.to_excel('ech_coord.xlsx')

In [47]:
df

       dock_group_title   latitude  longitude                 close
0         Colinton Road  55.934035  -3.210803   [Bruntsfield Links]
1     St. John's Road 1  55.942746  -3.281623   [St. John's Road 2]
2    West Crosscauseway  55.943862  -3.184972     [Crichton Street]
3         George Square  55.943084  -3.188311     [Crichton Street]
4          Simon Square  55.944868  -3.182671  [West Crosscauseway]
..                  ...        ...        ...                   ...
223    Waverley Station  55.952641  -3.187527            [The Tron]
225       Surgeons Hall  55.946643  -3.185475     [Crichton Street]
226   Port Edgar Marina  55.992957  -3.407156       [Hopetoun Road]
227    Charlotte Square  55.952335  -3.207101       [Castle Street]
228      Macdonald Road  55.963995  -3.185189       [McDonald Road]

[166 rows x 4 columns]

In [48]:


df1 = df[['close']]
df1['close'] = df1['close'].agg(lambda x: ','.join(map(str, x)))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [49]:
df2 = df1.merge(df, left_on='close', right_on='dock_group_title')
df2= df2[['close_x','latitude','longitude']]

In [50]:
df

       dock_group_title   latitude  longitude                 close
0         Colinton Road  55.934035  -3.210803   [Bruntsfield Links]
1     St. John's Road 1  55.942746  -3.281623   [St. John's Road 2]
2    West Crosscauseway  55.943862  -3.184972     [Crichton Street]
3         George Square  55.943084  -3.188311     [Crichton Street]
4          Simon Square  55.944868  -3.182671  [West Crosscauseway]
..                  ...        ...        ...                   ...
223    Waverley Station  55.952641  -3.187527            [The Tron]
225       Surgeons Hall  55.946643  -3.185475     [Crichton Street]
226   Port Edgar Marina  55.992957  -3.407156       [Hopetoun Road]
227    Charlotte Square  55.952335  -3.207101       [Castle Street]
228      Macdonald Road  55.963995  -3.185189       [McDonald Road]

[166 rows x 4 columns]

In [51]:
df['close'] = df['close'].agg(lambda x: ','.join(map(str, x)))

In [52]:
df3 = df.merge(df2, left_on='close', right_on='close_x', how='outer')
df3 = df3[['dock_group_title','latitude_x','longitude_x','close','latitude_y','longitude_y']]

In [53]:
df3.dropna(inplace=True)

In [54]:
def distance_calc (row):
    start = (row['latitude_x'], row['longitude_x'])
    stop = (row['latitude_y'], row['longitude_y'])

    return vincenty(start, stop).meters

In [55]:
df3['distance'] = df3.apply(lambda row: distance_calc (row),axis=1)

In [56]:
df3

      dock_group_title  latitude_x  ...  longitude_y    distance
0        Colinton Road   55.934035  ...    -3.206432  439.181883
1        Colinton Road   55.934035  ...    -3.206432  439.181883
2        Colinton Road   55.934035  ...    -3.206432  439.181883
3    Bruntsfield links   55.937159  ...    -3.206432    3.955444
4    Bruntsfield links   55.937159  ...    -3.206432    3.955444
..                 ...         ...  ...          ...         ...
272       Meadows East   55.939809  ...    -3.185021  250.189667
273     Waverley Court   55.951734  ...    -3.181682  222.845987
274    Scotstoun House   55.981107  ...    -3.401352  535.114797
276   Charlotte Square   55.952335  ...    -3.203184  261.766730
277     Macdonald Road   55.963995  ...    -3.185175    4.083938

[272 rows x 7 columns]

In [57]:
df3.drop_duplicates(subset='dock_group_title', inplace=True)

In [58]:
df3.to_excel('ech_coord_dist.xlsx')

In [59]:
G = ox.graph_from_place('Edinburgh, UK', network_type='walk')


df3['orig_node'] = ox.get_nearest_nodes(G, X=df3.longitude_x, Y=df3.latitude_x)
df3['dest_node'] = ox.get_nearest_nodes(G, X=df3.longitude_y, Y=df3.latitude_y)

# how long is our route in meters?
def short_path_length(row):
    return nx.shortest_path_length(G, row['orig_node'], row['dest_node'], weight='length')

In [60]:
df3['short_path_length'] = df3.apply(short_path_length, axis=1)

In [62]:
df3

                  dock_group_title  latitude_x  ...   dest_node short_path_length
0                    Colinton Road   55.934035  ...  6634566443           491.052
3                Bruntsfield links   55.937159  ...  6634566443            20.980
6                      Bruntsfield   55.937159  ...  6634566443            20.980
9                St. John's Road 1   55.942746  ...      606216           568.310
11   Sighthill - Edinburgh College   55.926684  ...      606216          2593.979
..                             ...         ...  ...         ...               ...
272                   Meadows East   55.939809  ...    14348045           366.003
273                 Waverley Court   55.951734  ...   259849803           354.904
274                Scotstoun House   55.981107  ...  3885082380           727.296
276               Charlotte Square   55.952335  ...      626129           391.098
277                 Macdonald Road   55.963995  ...  1472496541             0.000

[160 rows x 10 columns]

In [ ]:
df3